<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Event",
      "name": "{{ .title }}",
      "description": "{{ .description }}",
      "duration": "{{ .duration }}",
      "startDate": "{{ .startdate }}",
      "image": "{{ .image }}",
      "url": "{{ .eventurl }}",
      "eventSchedule": {
         "@type": "Schedule",
         "repeatFrequency": "{{ .eventschedule.repeatfrequency }}",
         "byDay": "{{ .eventschedule.byday }}",
         "startTime": "{{ .eventschedule.starttime }}",
         "endTime": "{{ .eventschedule.endtime }}"
      },
      "location": {
        "@type": "Place",
        "name": "{{ .location.name }}",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ .location.streetaddress }}",
            "addressLocality": "{{ .location.addresslocality }}",
            "postalCode": "{{ .location.postalcode  }}",
            "addressRegion": "{{ .location.addressregion  }}",
            "addressCountry": "{{ .location.addresscountry  }}"
        }
      }
    }
</script>